body {
  background-image: url(https://i.imgur.com/eTaY1qP.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  border: 2px solid black;
  text-align: center;
  font-size: 25px;
}
.radio{
  font-size: 20px;
  border: 1px solid black;
}
.container{
  background-color: white;
  opacity: .9;
  margin-top: 20px;
  border: 2px solid black;
}
.row{
  padding: 5px;
}
